.tags-list {
  background: white;
  padding: 15px 40px;
}

.tag-list__search {
  display: block;
  font-size: 1.2em;
  padding: 0.4em 0.8em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: 1px solid #BABABA;
}

.taglist a.tag {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  line-height: 2;
  padding: 5px 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #cedbec;
  border-radius: 5px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.taglist {
  padding-bottom: 40px;
}

.button__tags {
  display: block;
  margin-top: 8px;
  backdrop-filter: blur(2px);
}