@import 'vars.pcss';

.nav {
  background: $navbar-background;
  padding: calc($gap * 2) 0;
  transition: padding $fast;
}

.nav li.submit {
  position: absolute;
  right: 90px;
  transition: right $fast;
}

.nav li.profile {
  position: absolute;
  right: 0;
}

.nav li.profile .fa-user-circle-o {
  position: absolute;
  font-size: 25px;
  right: 55px;
  top: 6px;
}

.nav li.profile .fa-sign-in {
  position: absolute;
  font-size: 25px;
  right: 62px;
  top: 7px;
}

ul.head-menu {
  list-style:none;
  position: relative;
  min-height: 37px
}

ul.head-menu li {
  display:inline;
}

ul.head-menu li a {
  text-decoration:none;
  color: white;
  display:inline-block;
  padding:10px;
  font-family:'Trebuchet MS';
  font-size:17px;
  outline: none;
}

ul.head-menu  li a.active,
ul.head-menu  li a:hover {
  color: $navabar-item-color_hover;
}

ul.head-menu  li a:hover ~ span {
 	 animation: all 0.3s ease-out;
   /*background:#0088CC;*/
   background: #ff6868;
}

ul.head-menu .nav-burger-menu {
  padding: 0;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 25px;
}

@media (max-width: 350px) {
  ul.head-menu .nav-burger-menu {
    right: 5px;
  }
}

.pencil-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: top;
  background: url(/../images/pencil.svg);
  background-size: cover;
}

@keyframes ul {
 	0% {
    width:0;
  }
  100% {
    width:calc(100% - 23px);
  }
}


@media (max-width: 650px) {
  .submit-text,
  .profile-text {
    display: none;
  }

  .nav li.profile .fa-sign-in {
    position: relative;
    font-size: 21px;
    top: -1px;
    right: inherit;
  }

  .nav li.submit {
    right: 40px;
  }

  .nav li.profile .fa-user-circle-o {
    position: relative;
    top: -4px;
    right: inherit;
  }
}

@media (max-width: 450px) {
  .nav-random-additional {
    display: none;
  }
  .nav {
    padding: 0;
  }
  ul.head-menu li a {
    font-size: 1.1em;
  }
}
