.user-page--header {
  position: relative;
  display: flex;
}
.user-page--header-description {
  background: white;
  box-sizing: border-box;
  padding: 20px;
  margin-left: 16px;
  height: 150px;
  flex: 1;
}

.account-info {
  top: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
  background: black;
}

.account-portrait {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 140px;
  height: 140px;
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-portrait-image {
  width: 140px;
  height: auto;
}

.account-portrait-question {
  width: 100px;
  height: 100px;
}

.user-page--header-description .fa.fa-star,
.user-page--header-description .fa.fa-clock-o,
.user-page--header-description .fa.fa-book {
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}

.user-page--body .image-requirement {
  list-style: disc;
  margin-left: 20px;
  margin-top: 10px;
}

.user-page--body .button {
  margin-top: 10px;
  max-width: 200px;
}


.account-portrait--upload-btn {
  height: 50px;
  width: 100%;
  background: black;
  background: rgba(0,0,0,0.8);
  position: absolute;
  bottom: -34px;
  color: white;
  padding: 10px 0;
  text-align: center;
  height: 34px;
  box-sizing: border-box;
  transition: bottom 0.3s;
  cursor: pointer;
}

.account-info:hover .account-portrait--upload-btn  {
  bottom: 0;
}

.upload-btn-wrapper {
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.resolve-btn-wrapper {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.resolve-btn-wrapper .button {
  width: 33%;
  transition: none;
  display: inline-block;
  margin-right: 10px;
}

.upload-btn-wrapper .button {
  width: 100%;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  height: 34px;
  width: 200px;
}

.upload-btn-wrapper:hover .button {
  color: white;
  background: #415367;
  box-shadow: 0 2px 10px rgba(65, 83, 103, 0.5), 0 3px 6px rgba(65, 83, 103, 0.2);
  cursor: pointer;
}

.upload-avatar--placeholder {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border: 2px dashed black;
  background: white;
}

.image-requirement {
  list-style: disc;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}

.upload-avatar--image-preload {
  width: 100%;
  height: 100%;
  border: none;
}

.upload-errors {
  margin-top: 10px;
  color: red;
}

.publication-list {
  margin-top: 15px;
  border: 1px solid black;
}
.publication-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}

.publication-item:last-child {
  border-bottom: none;
}

.publication-field-comments,
.publication-field-status,
.publication-field-likes {
  display: inline-block;
}

.publication-field-comments {
  margin-right: 10px;
}

.publication-field-status_rejected {
  color: red;
}

.publication-field-status_aplied {
  color: green;
}

.publication-item-info_block {

}
