.tag-content .content.header {
  background: white;
  padding: 15px 40px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.tag-content__back-link {
  text-decoration: none;
  color: black;
}

.tag-content__back-link:hover {
  color: #ff935e;
}

.row {
  display: flex;
}