.story-comments {margin-top: 20px;}


.comments-head {
  font-size: 15px;
  text-align: center;
  display: none;
}

.comment-item {
  font-size: 15px;
  background: white;
  margin-bottom: 15px;
}


.comment-item-head {
  border-bottom: 1px solid #555;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.comment-item-head-account-image {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.comment-item-username {
  color: #0b0f0f;
  font-weight: bold;
}

.comment-date {
  color: #999;
  font-size: 80%;
}

.comment-item-body {
  padding: 10px 45px 20px;
}

.comment-editor {
  background: white;
  padding: 10px 45px 20px;
  position: relative;
}

.comment-editor.comment-login-error {
  padding: 20px;
  text-align: center;
  font-size: 15px;
}

.comment-editor.comment-login-error a {
  font-weight: bold;
}

.comment-editor h4 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
}

.comment-editor textarea {
  font-size: 1.2em;
  border-radius: 4px;
  border: none;
  height: 100px;
  outline: none;
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 8px;
}

#comment-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

#comment-form button {
  width: 200px;
}


@media (max-width: 450px) {
  .comment-item-body,
  .comment-item-head,
  .comment-editor {
    padding: 15px 15px 20px;
  }
  .comment-editor.comment-login-error {
    padding: 20px 10px;
  }
  #comment-form {
    flex-direction: column;
  }
  #comment-form .button {
    width: 100%;
    padding: 9px 5px
  }
}
