@import 'vars.pcss';

.page-content {
  display: flex;
  justify-content: space-between;
}

.content {
  box-sizing: border-box;
  width: 700px;
  margin-top: 15px;
  transition: padding $fast;
}

.content.wide {
  width: 1000px;
}

.content.white {
  background: white
}

.content.padding {
  padding: 15px 40px;
}


.article {
  font: normal 16px/25px $font-stack;

  h2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

@media (max-width: 1000px) {
  .content,
  .content.wide {
    width: 100%;
  }

  .content.wide.padding {
    padding: 15px 30px;
  }

  .article {
    font: 15px/22px $font-stack;
  }


  .content h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .content.page {
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 18px;
      margin-top: 10px;
    }
  }
  .content.padding {
    padding: 10px;
  }
}
