@import 'vars.pcss';

.story-item:not(:last-child) .story_footer {
  margin-bottom:  35px;
}

.story-icon {
  display: block;
  font-size: 12px;
  position: absolute;
  left: 15px;
  top: 15px;
  background: url('/images/shortstory.png') no-repeat;
  background-size: contain;
  height: 36px;
  color: white;
  line-height: 1.9em;
  text-align: center;
  border-radius: 5px;
  min-width: 35px;
}

.story {
  position: relative;
  padding: 20px 40px 0 40px;
  background: white;
}

@media (max-width: 450px) {
  .story {
    padding: 15px 15px 0 25px;
  }

  .story-icon {
    left: 5px;
    top: 9px;
  }
}

.text {
  font: normal 16px/25px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (max-width: 1000px) {
  .text {
    font: normal 15px/22px "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}

.text a {
    color: #004cbe;
}

.text a:hover {
    color: #df4e09;
}

.story .text p:not(:last-child) {
  margin-bottom: 15px;
}

.story_footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: white;
  transition: all $fast;
}


.story-item:not(:last-child) .story_footer {
  margin-bottom:  35px;
}

@media (max-width: 450px) {
  .story_footer {
    padding: 10px 20px;
  }
}

.story_rating__container, .story_comments__container {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.story_comments-count,
.story_rating {
  font-size: 16px;
  font-weight: bold;
}

.story_rating_label {
  margin-left: 15px;
}

@media (max-width: 770px) {
  .story_rating_label {
    display: none;
  }
  .story_rating {
    padding-left: 15px;
  }
}

@media (max-width: 650px) {
  .story_rating_label {
    display: block;
  }
  .story_rating {
    padding-left: 0;
  }
}

@media (max-width: 520px) {
  .story_rating_label {
    display: none;
  }
  .story_rating {
    padding-left: 15px;
  }
}

.story-comments-icon.fa {
  font-size: 1.7em;
  cursor: pointer;
  transition: all 0.2s;
  color: #051a25;
}

.story_comments_label {
  display: inline-block;
  margin-left: 15px;
  color: black;
}

@media (max-width: 770px) {
  .story_comments_label {
    display: none;
  }
  .story_comments-count {
    padding-left: 15px;
  }
}

@media (max-width: 650px) {
  .story_comments_label {
    display: block;
  }
  .story_comments-count {
    padding-left: 0px;
  }
}

@media (max-width: 520px) {
  .story_comments_label {
    display: none;
  }
  .story_comments-count {
    padding-left: 15px;
  }
}

.story_comments-link {
  display: flex;
  align-items: center;
  color: black;
}

.story_comments-link:hover {
  text-decoration: none;
}


.story_comments-link:hover .story-comments-icon.fa {
  color:#ff6868 !important;
}

.social__container {
  display: inline-block;
  float: right;
}
.story_icon.fa {
  font-size: 1.7em;
  cursor: pointer;
  transition: all 0.2s;
  color: #051a25;
}

.social__container a:not(:last-child) .story_icon.fa {
  margin-right: 15px;
}

.story_rating__container:hover {
  cursor: pointer;
}
.story_rating__container:hover .story_icon.fa {
  color:#ff6868 !important;
}

.story_icon-like.fa-heart {
  color:#ff6868 !important;
}

.story_icon-like:hover {
  color:#ff6868 !important;
}

.story_icon-like.fa-heart:hover {
  color:#051a25 !important;
}

.social__container a:hover .story_icon {
  color:#ff6868 !important;
}


.story .story__heading--information {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.story .story__heading--information h2 {
  font: normal 22px/27px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 8px;
}

.story .story__heading--information a {
  color: black;
  text-decoration: none;
}

.story .story__heading--information a:hover {
  color: #ff6868;
  text-decoration: underline;
}

@media (max-width: 350px) {
  .story .story__heading--information {
    flex-direction: column;
    position: relative;
    padding-bottom: 12px;
  }
  .author-name {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.story .publish-date {
  font-size: 14px;
  color: grey;
}

.story .author-name {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}

.story .author-icon {
  width: 16px;
  height: 16px;
}


ul.tags {
  list-style:none;
  position: relative;
  color: black;
  text-decortaion: none;
  margin-bottom: 10px;
}

ul.tags a {
  color: black;
  text-decoration: none;
}

ul.tags li.tag {
  display:inline-block;
  margin-left: 10px;
  border: 1px solid #dee2e5;
  background-color: #dee2e5;
  border-radius: 5px;
  padding: 6px 15px;
  color: #a9b1b5;
  transition: all 300ms ease-in-out;
  font-size: 13px;
}

ul.tags li.tag.tag_highlight {
  background-color: #fff292;
  border-color: #fff292;
}

ul.tags li.tag a {
  color: black;
  text-decoration: none;
}

ul.tags li.tag:hover {
  background: #9abfda
}
